<p style="color: green"><%= notice %></p>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6 mt-3">
      <h3 class="my-3">Amin Information</h3>
      <%= render @admin %>
      <div>
        <%= link_to "Back to products", products_path %>
      </div>
    </div>
</div>