<p style="color: green"><%= notice %></p>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6">
      <%= render @product %>
      <div>
        <%= link_to "Edit this product", edit_product_path(@product) %> |
        <%= link_to "Back to products", products_path %>
      </div>
    </div>
</div>

